
<div class="container">
  <h1 data-test="title">{{model.name}}</h1>
  <ul>
    <li data-test="testTime">Cooking Time: {{model.time}}</li>
    <li data-test="testCalorie">Calorie: {{model.calorie}}</li>
  </ul>
  <h4>Recipe:</h4>
  <p data-test="testIngredient">{{model.ingredient}}</p>
</div>
{{outlet}}
